@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Recursive', sans-serif;
}
.home-body{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
a{
  text-decoration: none;
}
.header-title {
  height: 48px;
  background-color: #6f0fb2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 13px;
  gap: 12px;
}
.header-title h6 {
  color: #e3e2ed;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: cursive;
}
.header-title a{
  color: #e3e2ed;
  margin-right: 10px;
}
.header-title div{
  width: calc(100vw - 270px);
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 15px;
}
main {
  height: 100%;
}
.main-fondo {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  height: 100%;
  margin: 20px;
  background-image: url("../assets/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.main-fondo div {
  grid-column: 2;
}
.main-fondo .btn1 {
  grid-column: 1;
  grid-row: 1;
}
.main-fondo div {
  letter-spacing: 1.5px;
}
.main-fondo a {
  height: 20px;
  border: 1px solid #6f0fb2;
  border-radius: 4px;
  background-color: #6f0fb2;
  color: #e3e2ed;
  padding: 7px;
  margin-top: 50px;
}
.main-fondo a:hover {
  font-size: 20px;
  background-color: #e3e2ed;
  color: #6f0fb2;
  border: none;
}
@media (max-width: 425px) {
  .main-fondo a {
    height: 40px;
    font-size: 13px;
  }
  .main-fondo {
    margin: 10px;
    background-size: 900px;
  }
}
.main-blogposts{
  display: flex;
  flex-direction: column;
}
.main-container1{
  background-color: rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
}
/* .news-title{
  text-align: center;
} */
.news-info{
  display: flex;
  flex-direction: row;
}
.blogpost-img{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogpost-img img{
  margin: auto;
  width: 400px;
}

.blogpost-info{
  width: 40%;
  color: rgb(32, 32, 32);
}
.read{
  height: 30px;
  width: 90px;
  border-color: #6f0fb2;
  background-color: #6f0fb2;
  color: #e3e2ed;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.main-container2{
  padding: 10px calc(100vw - 90%);
}
.main-container2-title{
  border-bottom: 2px solid rgb(189, 189, 189);
  text-align: center;
  padding: 10px;
}
.main-container2-article img{
  width: 200px;
}
.main-container2-article{
  width: 240px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}
.main-container2-article p{
  margin-top: 0;
}
.main-container-article{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer{
  height: 50px;
  /* background-color: rgb(189, 189, 189);
  border-top: 60px solid #6f0fb2; */
  background-color: #6f0fb2;
  border-top: 25px solid rgb(189, 189, 189);
  display: flex;
  justify-content: center;
  color: #e3e2ed;
}