@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap');

body {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.header-title {
  height: 48px;
  background-color: #6f0fb2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 13px;
  gap: 12px;
}
.header-title h6 {
  color: #e3e2ed;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: cursive;
}
main {
  height: 100%;
}
.main-fondo {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  height: 100%;
  margin: 20px;
  background-image: url("../assets/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* font-family: cursive; */
  font-family: 'Recursive', sans-serif;
  text-align: center;
}
.main-fondo div {
  grid-column: 2;
}
.main-fondo .btn1 {
  grid-column: 1;
  grid-row: 1;
}
.main-fondo div {
  letter-spacing: 1.5px;
}
.main-fondo a {
  height: 20px;
  text-decoration: none;
  border: 1px solid #6f0fb2;
  border-radius: 4px;
  background-color: #6f0fb2;
  color: #e3e2ed;
  padding: 7px;
  margin-top: 50px;
}
.main-fondo a:hover {
  font-size: 20px;
  background-color: #e3e2ed;
  color: #6f0fb2;
  border: none;
}
@media (max-width: 425px) {
  .main-fondo a {
    height: 40px;
    font-size: 13px;
  }
  .main-fondo {
    margin: 10px;
    background-size: 900px;
  }
}
